<section id="register">
    <div class="container centered">
        <div class="box">
            <h1>Register</h1>
            <div class="content">
                <form id="register-form" action="#/register" method="post">
                    <label for="newUsername">Username</label>
                    <input id="newUsername" type="text" name="username">
                    <label for="newUsername">First Name</label>
                    <input id="newUsername" type="text" name="firstname">
                    <label for="newUsername">Last Name</label>
                    <input id="newUsername" type="text" name="lastname">
                    <label for="newUsername">Phone</label>
                    <input id="newUsername" type="text" name="phone">
                    <label for="newUsername">Email</label>
                    <input id="newUsername" type="text" name="email">
                    <label for="newPassword">Password</label>
                    <input id="newPassword" type="password" name="password">
                    <label for="newPassRep">Repeat Password</label>
                    <input id="newPassRep" type="password" name="repeatPassword">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</section>