<div class="row">
    <div class="col wide">{{creationDate}}</div>
    <div class="col wide">{{productsCount}}</div>
    <div class="col receiptSumAll">{{total}}</div>
    <div class="col">
        <a href="#/details:{{@index}}">Details</a>
    </div>
</div>